includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 3
    paths:
        - src
    excludePaths:
        - vendor
        - tests
        - database
        - src/Models
        - src/Broadcasting/TenantPusherBroadcaster.php
        - src/Broadcasting/TenantReverbBroadcaster.php
        - src/Cache
        - src/Config/Actions/TenantsCache.php
        - src/Database/TenantTableConfig.php
        - src/Pipes/QuvelCoreConfigPipe.php
        - src/Queue/Failed/TenantDatabaseUuidFailedJobProvider.php
        - src/TenantServiceProvider.php
        - src/Telescope
        - src/Redis
        - src/helpers.php
